<header class="site-header">

  <div class="wrapper">
    
    	<div id="header">
        <span id="logo">
          <a href="/home">Department of Midwifery</a>
        </span>

        <nav class="site-nav">		
          <ul id="nav">				
            <li><a class="current" href="/home">Home</a></li>			
            <li><a href="/directory">Directory</a></li>
            <li><a href="/certification">Certification</a></li>
            <li><a href="/faqs">FAQs</a></li>
            <li><a href="/links">Links</a></li>
            <li><a href="/resources">Resources</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul><!-- #nav -->
        </nav>
    </div><!-- #header -->	

		<div id="jumbotron">
			<span class="tagline1">Women are choosing</span>
			<span class="tagline2">Registered Midwives</span> 
			<span class="tagline3">for safe and comprehensive care for pregnancy, birth and postpartum</span> 
			<a id="find-button" href="/directory">Find a midwife in Vancouver</a>
		</div>

  </div>

</header>
